*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 33px;
    font-weight: 700;
}
button{
    height:37px;
    border-radius: 5px;
}
#search-input{
    height:45px;
}
.submit{
    background-color:#6991e3;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #e1e6f1;
}

.btn{
    margin: 5px;
}
.navbar{
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
}